<style>
  
  .blocking-page {
    background-color: #000;
    pointer-event: none;
  }
  .GeoBlock-Container {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    z-index: 1;
      
  }

  .custom-image-container {
    margin: auto;
    margin-bottom: 0px;    
    margin-top:0px;
    max-width: 300px;
  }
  .content {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 80px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
  }

  .header {
    display: none;
    }

    .announcement-bar {
    display: none;
    }

    .section__color-wrapper {
    display: none;
    }

    #instagrid-feed-container {
    display: none;
    }

    .section {
    display: none;
    }

    .footer {
    display: none;
    }
  
    #shopify-section-popup {
    display: none;
    }

    #Avada-Joy_FloatingButton {
    display: none;
    }

    #launcher {
      display: none;
    }
  
</style>


<section>
  <div class="blocking-page">
  
    <div class="GeoBlock-Container vertical-breather vertical-breather--tight">
      <div class="custom-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0570/3797/9847/files/MELUME_LOGO_weiss.png?v=1687094893">
      </div>
      
      <div class="content">
      <h2 class="heading h4" style="color: white"> We apologize for the inconvenience, but our website is unavailable in your country. However, you can still explore and purchase a wide range of our products in Ukraine through our trusted partners. They offer the same quality products and exceptional service that you would expect from us. </h2>
      <h2 class="heading h4" style="color: white"> Просимо вибачення за незручності, але наш веб-сайт недоступний у вашій країні. Однак ви все ще можете ознайомитись і придбати широкий асортимент нашої продукції в Україні через наших перевірених партнерів. Вони пропонують таку саму якість продукції та винятковий сервіс, яких ви очікуєте від нас. </h2>
      </div>
      <p style="color: white"> Please <a href="mailto:k.gorkusha@beauty-science.com.ua" style="margin-bottom: 0px; color: white; text-decoration: underline">contact</a> us to get a list of stockists.
      <br> Щоб отримати список продавців, зв'яжіться з. <a href="mailto:k.gorkusha@beauty-science.com.ua" style="margin-bottom: 0px; color: white; text-decoration: underline">contact</a></p>
      <p class="heading h5" style="color: white"> We appreciate your understanding.
      <br> Дякуємо за ваше розуміння. </p>
  
  
      
    </div>
  </div>
</section>